body {
  margin: 0;
  padding: 0;
}

.container {
  background-color: navy;
  padding: 1vw;
  display: grid;
  min-height: 100vh;
  height: auto;
  grid-template: .8fr 4fr / .8fr 3fr .8fr;
  gap: 1vw;
}

.header {
  background-color: aqua;
  grid-area: 1 / 2 / 2 / 4;
}

.sidebar {
  background-color: purple;
  grid-area: 1 / 1 / 3 / 2;
}

.main-content {
  background-color: orange;
  grid-area: 2 / 2 / 3 / 3;
}

.nav {
  background-color: brown;
  grid-area: 2 / 3 / 3 / 4;
}